{
	"UISupportedInterfaceOrientations" = (
		"UIInterfaceOrientationPortrait",
	);
	UIUserInterfaceStyle = Light;
	CFBundleIdentifier = "$(PRODUCT_BUNDLE_IDENTIFIER)";
	CFBundleExecutable = "$(EXECUTABLE_NAME)";
	CFBundleDisplayName = "\Uc8fc\Uc778\Uc7a5";
	UIRequiresFullScreen = YES;
	"UILaunchStoryboardName" = LaunchScreen;
	"NSAppTransportSecurity" = {
		"NSAllowsArbitraryLoads" = YES;
	};
	LSRequiresIPhoneOS = YES;
	"ITSAppUsesNonExemptEncryption" = NO;
	CFBundleVersion = "$(CURRENT_PROJECT_VERSION)";
	"CFBundleShortVersionString" = "$(MARKETING_VERSION)";
	CFBundlePackageType = "$(PRODUCT_BUNDLE_PACKAGE_TYPE)";
	CFBundleName = "$(PRODUCT_NAME)";
}