# Privacy
*.xcconfig
APIKey.swift

# General
.DS_Store
*.xcuserstate

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

### Xcode ###

## Xcode 8 and earlier

### Xcode Patch ###
*.xcodeproj/*
*.xcodeproj/**/*.*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Tuist
**/*.xcodeproj
**/*.xcworkspace
*.xcarchive
**/Derived/
Tuist/.build
**/build
Projects/App/Sources/Network/APIKey.swift
